<!DOCTYPE html>
<html>
  <head>
    <title>Users app</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Welcome home
      </h1>
    </header>

    <main>
      <form class="logout-form" action="/logout" method="get">
        <button>
          Logout
        </button>
      </form>
    </main>

    <footer>
      
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/home.js"></script>

  </body>
</html>