<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <meta name="description" content="registration page">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Sign-up Page
      </h1>
    </header>

    <main>

      <form class= "signup-form" action = "/signup" method = "post">
        <input type="text" maxlength="100" placeholder="username" name="username">
        <input type="text" maxlength="100" placeholder="password" name="password">
        <button type="submit">Submit</button>
      </form>
      <a href="/">back to log-in</a>
    </main>

    <footer>
      
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/register.js"></script>

  </body>
</html>